.popup {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 40%;
    background-color: white;
    animation: pop 2s;
    animation-fill-mode: forwards;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: lightblue;
}
.winner {
    font-size: 3em;
    animation: fadeIn 6s;
}

.blur {
    filter: blur(5px);
}
.restart {
    border: 1px solid black;
    padding: .5em;
    border-radius: 1em;
    animation: fadeIn 9s;
}
.restart:hover {
    background-color: lightgreen;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }    
    33.3% { 
        opacity: 0;}
    100% {
        opacity: 1;
    }
}
@keyframes pop {
    0% {
        opacity: 0;
        height: 0%;
        width: 0%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        height: 30%;
        width: 40%;
        transform: translate(-50%, -50%);
    }
}